.dr-selector-main {
  width: 130px;
  height: 400px; 
  /* background-color: orange; */
  margin: 5px;
  border: 2px solid black;

  --cal-days-bar-sz: 100px;
  --cal-times-bar-wd: 30px;
}

.dr-date-container {
  height: var(--cal-days-bar-sz);
  width: 100%;
}

.dr-bl-times-container {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100% - var(--cal-days-bar-sz));
  display: flex;
}

.dr-times-container {
  width: var(--cal-times-bar-wd);
  height: 100%; 
}

.dr-bl-times-container::-webkit-scrollbar {
  display: none;
}

.dr-bl-container {
  height: 100%;
  width: calc(100% - var(--cal-times-bar-wd));
  position: relative;
}
