.range-box-main {
  width: 100%;
  height: 100%;
  background-color: #07245e; 
  position: absolute;

  color: var(--white);
  padding: 2px;

  text-align: center;
  user-select: none; 
  z-index: 1;
  /* box-shadow: 0 0 2px 2px #d0d0d0; */
  /* box-shadr */
}

.range-box-main:hover {
  /* cursor: grab !important;  */
  background-color: #4f669b; 
}

.rb-date-range {
  transform: translateY(-15px);

  position: absolute;
  z-index: 4;
  font-size: 11px;
  /* width: 100%; */
  text-align: left;
  /* color: var(--off-white); */
  color: var(--black);
  font-family: 'poppins-medium' 
}

.drag-bar-container {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}

.drag-bar-top { top: 1px; }
.drag-bar-bottom { bottom: 1px; }

.drag-bar {
  width: 40px;
  border-radius: 1px;
  /* border: 1px solid var(--white); */
  /* border: 1px solid rgb(60, 103, 177);  */
  border: 1px solid var(--blue);
}

.delete-range {
  position: absolute;
  top: 0px;
  right: -3px;

  text-align: center;

  color: var(--black);
  transform: scale(0.8);
  visibility: hidden;
}

.range-box-main:hover .delete-range {
  visibility: visible;
}


.delete-range:hover {
  color: var(--black);
  cursor: pointer;
}
