.range-box-main {
  width: 100%;
  border-radius: 10px; 
  background-color: #001540; 
  position: absolute;

  color: var(--white);
  /* padding: 10px; */

  text-align: center;
  user-select: none; 
  z-index: 1;
}

.range-box-main:hover {
  cursor: grab !important; 
  background-color: #4f669b; 
}

/* .rb-cell { */
  /* height: var(--dts-cell-height); */
  /* height: 15px;
  width: 100%;
} */

/* .rb-cell:hover {
  opacity: 0.8;
  background-color: orange;
  cursor: grab;
}

*/
.rb-date-range {
  font-size: 12px;
  position: absolute;
  left: 5px;
}

/*

.extender:hover {
  cursor: ns-resize; 
} */
