.range-box-main {
  width: 100%;
  border-radius: 10px; 
  background-color: rgb(4, 42, 164);
  position: absolute;

  color: var(--white);
  /* padding: 10px; */

  text-align: center;
}

.rb-cell {
  /* height: var(--dts-cell-height); */
  height: 15px;
  width: 100%;
}

.rb-cell:hover {
  opacity: 0.8;
  background-color: orange;
  cursor: move;
}

.rb-date-range {
  font-size: 12px;
  position: absolute;
  left: 5px;
}

.extender:hover {
  cursor: ns-resize; 
}
