.ets-main {
  border-radius: 5px;
  box-sizing: border-box;
  padding-right: 1px;
}

.row-state-row {
  height: calc(var(--dts-cell-height) - 1px);
  box-sizing: border-box;

  margin-top: 1px;
  margin-bottom: 1px;
  font-family: monospace;

  /* Disable highlight */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;


  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
}

.row-state-row:hover {
  background-color: white;
}

.range-box:hover {
  background-color: #07245e !important;
}

.member-tag {
  position: absolute;
  right: 10px;
  margin-top: -12px;
  margin-bottom: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
