.ets-main {
  /* position: absolute;
  top: 0px;
  width: 100%;
  left: 0px;
  height: 100%; */
}

.row-state-row {
  /* width: 100%; */
  height: calc(var(--dts-cell-height) - 2px);
  /* margin: auto; */
  box-sizing: border-box;

  /* border-top: 1px dashed grey;
  border-top: 1px dashed grey; */
  line-height: 12px;
  text-align: right;
  padding-right: 5px;
  text-align: left;
  padding-left: 5px;
  /* color: white; */
  
  margin-top: 1px;
  margin-bottom: 2px;
  font-family: monospace;
  /* border-radius: 3px; */
  /* Disable highlight */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

}

.row-state-row:hover {
  background-color: white;
}

.range-box:hover {
  background-color: #07245e !important;
}

.member-tag {
  position: absolute;
  right: 10px;
  margin-top: -12px;
  margin-bottom: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
