.calendar-main {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  box-sizing: border-box;
  --calendar-border: 1px solid rgb(164, 196, 244); 
  --grid-border: 1px solid rgb(211, 211, 211);

  border-radius: 5px;

  border: var(--calendar-border);

  --cal-top-bar-sz: 50px;
  --dts-cell-height: 15px;
}

.calendar-header {
  width: 100%;
  height: var(--cal-top-bar-sz);
  display: flex;
  position: relative;
  padding: 4px;

  --button-sz: calc(var(--cal-top-bar-sz) - 10px); 

  box-sizing: border-box;
  /* border: var(--calendar-border); */
}

.calendar-days-main {
  --cal-days-bar-sz: 80px;
  height: var(--cal-days-bar-sz);

  display: flex;
  /* -15px to account for the scroll bar */
  width: calc(100% - 15px);
}

.calendar-dates-spacer {
  width: 50px;
}

.calendar-days {
  height: 100%;
  width: calc(100% - 50px);
  display: flex;
  border-bottom: 1px solid rgb(211, 211, 211); 
}

.calendar-day {
  height: 100%;
  width: 100%;
  text-align: center;
  border-right: 1px solid rgb(211, 211, 211);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cd-month {
  font-size: 13px;
}

.cd-day {
  font-size: 25px;
  font-family: var(--header-font);
  /* font-family: var(--mom-cake); */
  color: var(--blue);
}

.cd-weekday {
  font-size: 13px;
}

.calendar-topbar {
  width: 100%;
  height: var(--cal-top-bar-sz);
  display: flex;
  position: relative;

  --button-sz: calc(var(--cal-top-bar-sz) - 10px); 
  padding: 4px;

  box-sizing: border-box;
  /* border: var(--calendar-border); */
}

.change-week-btn {
  background-color: var(--white);
  box-shadow: 0 0 2px 2px #e4e4e4;
  color: var(--blue);
  font-weight: bolder;
  border-radius: 10%;
  width: var(--button-sz);
  height: var(--button-sz);
  text-align: center;
  line-height: var(--button-sz);
  font-size: var(--l2-fs);
  user-select: none;
}

.change-week-btn:hover {
  cursor: pointer;
  background-color: var(--off-white);
}

.change-week-left {
  position: absolute;
  left: 5px;
}

.change-week-right {
  position: absolute;
  right: 5px;
}

.week-header {
  text-align: center;
  margin: auto;
  font-size: var(--l4-fs);
  line-height: var(--button-sz);
}

.selector-container {
  width: calc(100% - var(--dts-dates-width));

  display: flex;

  overflow-y: scroll;
  overflow-x: hidden;
}

.c-times-display {
  display: flex;
  flex-direction: column;
  width: var(--dts-dates-width);
}

.c-times-header-spacer {
  height: var(--dts-top-bar-sz);
}

.c-times-display-time {
  width: 100%;
  height: var(--dts-cell-height);
  text-align: right;
  color: grey;
  font-size: 12px;
  transform: translateY(-7px);
  border-bottom: 1px solid rgb(211, 211, 211); 
}

/* GRID STYLES */
.rs-main {
  max-height: calc(100% - var(--cal-top-bar-sz) - 80px);
  width: 100%;

  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;

  --calendar-dates-width: 50px;
}

.calendar-dates {
  width: var(--calendar-dates-width); 
}

.calendar-date {
  height: var(--dts-cell-height);
  width: 100%;
  line-height: var(--dts-cell-height);
  transform: translateY(-7.5px);
  text-align: center;

  font-size: 11px;
  /* color: var(--grey); */
  color: grey;
  font-family: 'poppins-medium' 
}


.rs-grid-container {
  display: flex;
  width: calc(100% - var(--calendar-dates-width));
  height: 100%; 
}

/* GRID ROW STYLES */
.rs-grid-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  border-right: var(--grid-border);
}

/* GRID CELL STYLES */
.grid-cell {
  width: 100%;
  height: 15px;
  /* height: var(--dts-cell-height); */
  box-sizing: border-box;
  /* border-top: 1px dashed var(--grid-border-color); */
}

.grid-cell:hover {
  cursor: pointer;
  background-color: var(--blue);
  opacity: 0.4;
}

.grid-cell-hour {
  border-top: var(--grid-border);
}

.grid-cell-selected {
  background-color: var(--blue); 
  opacity: 1;

  border-top: none; 
}

.c-type-toggle-container {
  width: 100%;
  display: flex;
  justify-content: center;

  --c-type-container-sz: 50px;
  height: var(--c-type-container-sz);
}

.c-type-label {
  line-height: var(--c-type-container-sz);
}
