.cbox-main {
  box-sizing: border-box;
  border: 3px solid rgb(227, 227, 227); 
  border-radius: 5px;
  width: 800px;
  height: 1000px; 
  margin: auto;
  /* display: flex; 
  justify-content: center; */
  padding: 30px;
  position: relative;
}
