.cbox-main {
  box-sizing: border-box;
  border-radius: 5px;
  width: 1000px;
  height: 1000px; 
  margin: auto;
  /* display: flex; 
  justify-content: center; */
  padding: 30px;
  position: relative;
}
