.calendar-dates {
  --calendar-dates-width: 50px;
  --dts-cell-height: 15px;
  width: var(--calendar-dates-width); 
  position: relative;
}

.calendar-date {
  height: var(--dts-cell-height);
  width: 100%;
  line-height: var(--dts-cell-height);
  text-align: center;

  transform: translateY(-7.5px);

  font-size: 11px;
  color: grey;
  font-family: 'poppins-medium'; 
}
