.time-slot-main {
  width: 100%;
  height: var(--dts-cell-height);
  box-sizing: border-box;
  /* background-color: var(--blue); */
  opacity: 0.4;
  border-top: 1px dashed grey;
}

.time-slot-main:hover {
  cursor: pointer;
  background-color: var(--blue);
  opacity: 0.8;
}

.time-slot-selected {
  background-color: var(--blue);
  opacity: 1;

  border-top: none; 
}
