.copy-event-container {
  width: 100%;
  display: flex;
  justify-content: center;
  --copy-link-height: 50px;
  --copy-button-width: 120px;

  height: var(--copy-link-height);
}

.event-link-container {
  display: flex;
  height: 100%;
  width: calc(100% - var(--copy-button-width));
  line-height: var(--copy-link-height);
  border-radius: 5px;
  border: 1px solid rgb(193, 193, 193);
  background-color: white;
}

.event-link {
  text-align: center;
  font-size: 16px;
  width: 100%;
}

.event-link-icon {
  padding-right: 10px;
}

.copy-event-button {
  width: var(--copy-button-width);
}

.em-input-container {
  display: flex;
  width: 100%;

  --em-input-height: 60px;
  --em-input-width: 120px;
}

.em-input {
  width: calc(100% - var(--em-input-width));
}

.em-input-button {
  width: var(--em-input-width);
  font-weight: bolder;
  width: 120px;
  font-size: 16px;
  text-transform: none;
  border-radius: 0;
  margin-left: 10;
}

.event-dates-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;

  /* COPY of .calendar-main */
  width: 100%;
  height: 700px;
  background-color: var(--white);
  box-sizing: border-box;
  --calendar-border: 1px solid rgb(164, 196, 244); 
  --grid-border: 1px solid rgb(211, 211, 211);

  border-radius: 5px;

  border: var(--calendar-border);

  --cal-top-bar-sz: 50px;
  --dts-cell-height: 15px;
}
