:root {
  /* Defaults */
  /* Colors */
  --white: #fafafa;
  --off-white: #eeeeee; 
  --black: #151515;
  --light-grey: #cbcbcb;
  --blue: #0073ff;

  /* Font sizes (fs) */
  --l1-fs: 40px;
  --l2-fs: 31px;
  --l3-fs: 25px;
  --l4-fs: 20px;
  --l5-fs: 16px;
  --l6-fs: 13px;

  /* Fonts */

}

body {
  background-color: var(--off-white);
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div {
  box-sizing: border-box; 
}

.spacer {
  height: 20px;
  width: 100%;
}

.full-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
}

a:link, a:visited {
  color: #38488f;
  text-decoration: none;
}


